.demo {
  margin: 16px;
}
.demo-nav {
  height: 30px;
  margin-bottom: 16px;
  line-height: 30px;
  background: #f8f8f8;
}
.demo-nav a {
  padding: 0 8px;
  line-height: 30px;
}
.app-list {
  margin-top: 16px;
}
  [data-theme="dark"] .demo-nav {
    background: #141414;
  }

.center{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.inputs{
  margin: 10px;
  
}
.buttons{
  margin-left: 5px
}